    <div class="comments">
      <ol>
      {{#each this}}
      <li class="content-form2">
        <section class="comment">
          <div class="meta">
            {{> comments post.comments}}
            {{!-- {{user.username}}
            on
            {{format_date created_at}} --}}
          </div>
          <div class="text">
            {{comment}}
          </div>
        </section>
        </li>
        <br>
      {{/each}}
      </ol>
    </div>
