<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Festival of Nations</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>Festival of Nations</h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">See All Events</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      <section class="content"></section>
      {{{ body }}}
    </main>
      <footer>
        <a href="https://www.protolabs.com/" target="_blank">
          <img src="Picture1.png" alt="Protolabs" />
        </a>
        <div class="footerEmail">
          <a href= "mailto: deileadershipcouncil@protolabs.com">Contact Us</a>
        </div>
      </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>
