<section class="content">
  <div class="content-cta2">
    <h2>All Events</h2>
      </div>
</section>

<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>










           