<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  {{! <div>
    <label for="country">What country will you be representing?</label>
    <input type="country" id="country-signup" />
  </div>
    <div>
    <label for="how">Describe how you would like to participate</label>
    <p>Give a brief description on what you would like to do to share your culture with your fellow employees. If you are sharing a food, please let the ingredients you will be using to help people with their dietary compliance.</p>
    <input type="how" id="how-signup" />
  </div> }}
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>